<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-2 text-monospace">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center ">
            <li class="list-inline-item mr-5">
                <h6 class="mb-1">Register for free !</h6>
            </li>
            <li class="list-inline-item">
                <a href="/register" class="btn btn-outline-white">Sign up!</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center p-1">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> houseofdev.co.uk</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->