<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-2 ml-5 mt-5">

                <!-- Content -->
                <h5 class="text-uppercase">Interview Corp</h5>
                <p>Is a new process for companies to find suitable candidate</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Useful Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">About Us</a>
                    </li>
                    <li>
                        <a href="#!">How It's Work</a>
                    </li>
                    <li>
                        <a href="#!">Corparation</a>
                    </li>
                    <li>
                        <a href="#!">Pricing</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Company</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#!">Terms of Service</a>
                    </li>
                    <li>
                        <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!">Careers</a>
                    </li>
                    <li>
                        <a href="#!">Contact Us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.linkedin.com/in/hltoktay/"> houseofdev.co.uk</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->