<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-2 ml-5 mt-5">

                <!-- Content -->
                <h5 class="text-uppercase">Interview Corp</h5>
                <p>It is a new process for companies to find suitable candidate. <br>Your time is valuable, we save
                    more
                    time with you.

                </p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Useful Links</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/about">About Us</a>
                    </li>
                    <li class="mb-2">
                        <a href="/how_work">How It's Work</a>
                    </li>
                    <li class="mb-2">
                        <a href="/corparation">Corparation</a>
                    </li>
                    <li class="mb-2">
                        <a href="/pricing">Pricing</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 mb-md-0 mb-5">

                <!-- Links -->
                <h5 class="text-uppercase">Company</h5>

                <ul class="list-unstyled">
                    <li class="mb-2">
                        <a href="/terms_of_service">Terms of Service</a>
                    </li>
                    <li class="mb-2">
                        <a href="/privacy">Privacy Policy</a>
                    </li>
                    <li class="mb-2">
                        <a href="/careers">Careers</a>
                    </li>
                    <li class="mb-2">
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://www.linkedin.com/in/hltoktay/"> houseofdev.co.uk</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->