<!--Navbar-->
<nav class="navbar navbar-expand-sm navbar-light grey lighten-3">

    <div class="container text-monospace">

        <a class="navbar-brand h1 mt-1 ml-3 " href="/">Interview Corp.</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent-333"
            aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse ml-3" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto text-uppercase font-weight-normal">
                <li class="nav-item">
                    <a class="nav-link ml-2" href="/">Home</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link ml-2" href="/contact">Contact</a>
                </li>

            </ul>
            <!-- Links -->

            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item py-2">
                    <a class="nav-link border border-dark" href="/register">Sign Up</a>
                </li>
            </ul>

        </div>
        <!-- Collapsible content -->

    </div>

</nav>
<!--/.Navbar-->