<li id="q1">Tell me about yourself </li>
<li id="q2">What are your biggest weaknesses?</li>
<li id="q3">What are your biggest strengths?</li>
<li id="q4">Where do you see yourself in five years?</li>
<li id="q5">Out of all the other candidates, why should we hire you?</li>
<li id="q6">How did you learn about the opening?</li>
<li id="q7">Why do you want this job?</li>
<li id="q8">Why do you want to leave your current job?</li>
<li id="q9">What is your leadership style?</li>
<li id="q10">What do you like to do outside of work?</li>