<div class="container p-3">
    <div class="row">
        <div class="col-sm-6  col-md-12 col-lg-12">
            <h3>Video Record </h3>
            <p class="font-weight-light">In this section could you explain yourself and what you expect from this
                company</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-12 col-lg-12">
            <h3>Video Screen</h3>
            <div class="video-content">
                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                    <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/7MUISDJ5ZZ4"
                        frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>