<div class="container p-3 custom-model">
    <div class="row" style="height: 515px">
        <div class="col-sm-12 col-md-12">
            <h3> Final Step</h3>


            <h5 class="pt-5">You interview questions are ready to send, now we are creating your link, just a moment...</h5>
            <div class="interview-link"></div>

            <button class="btn btn-sm btn-danger" href="">Save</button>

            <button class="btn btn-sm btn-info" href="">Send link to candidate</button>
        </div>



    </div>

</div>