<div>
    {{> _navbar}}
</div>
{{> _video}}

<div class="container mt-5 py-3 text-monospace ">


    <!--Section: Content-->
    <section class="px-md-3 mx-md-1 text-center text-lg-left white-text">

        <h3 class="font-weight-bold indigo-text">About Company .</h3>

        <p class="mb-5">We are proud to be a part of the interview process the companies and candidate. In that why we
            try to bring new solution for the interview industry.Created by our quality team and ready to help you find
            out next candidate for your business. <br> Anything we can help with or any questions we can answer? You
            can
            contact us anytime.</p>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-lg-5 mb-3 mt-5">

                <img src="https://www.signavio.com/wp-content/uploads/2019/09/product-pages-illustrations-process-manager-1.png"
                    class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-8 mb-lg-0 mb-lg-0 ml-5 mt-5">

                <h4 class="h4 indigo-text">Why is it so great .</h4>

                <p class="">Interview Corp find culture fit quickly by letting candidates record their interview
                    answers using their camera and microphone from the comfort of their own homes.</p>

                <a href="/register" style="opacity: 0.8" class="btn btn-white btn-rounded">Start Free</a>


            </div>
            <!--Grid column-->

            <!--Grid column-->

            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>

{{> _footer}}