<div>
    {{> _navbar}}
</div>

<video poster="" id="bgvid" playsinline autoplay muted loop>
    <source src="http://thenewcode.com/assets/videos/indre.webm" type="video/webm">

</video>

<h1>ABOUT PAGE</h1>

{{> _footer}}