<div>
    {{> _navbar}}
</div>

<video poster="" id="bgvid" playsinline autoplay muted loop>
    <source src="http://thenewcode.com/assets/videos/indre.webm" type="video/webm">

</video>

<div class="container mt-5 py-3 text-monospace ">


    <!--Section: Content-->
    <section class="px-md-3 mx-md-1 text-center text-lg-left white-text">

        <h3 class="font-weight-bold">About Company .</h3>

        <p class="mb-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente molestiae
            numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam, doloremque laborum reiciendis
            doloribus eius optio autem. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-lg-5 mb-3 mt-5">

                <img src="https://www.signavio.com/wp-content/uploads/2019/09/product-pages-illustrations-process-manager-1.png"
                    class="img-fluid" alt="">

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-6 col-md-8 mb-lg-0 mb-lg-0 ml-5 mt-5">

                <h4 class="h4">Why is it so great .</h4>

                <p class="">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id quam sapiente
                    molestiae
                    numquam quas, voluptates omnis nulla ea odio quia similique corrupti magnam.</p>

                <a href="/register" style="opacity: 0.8" class="btn btn-white btn-rounded">Start Free</a>


            </div>
            <!--Grid column-->

            <!--Grid column-->

            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>

{{> _footer}}