{{> _navbar}}

{{> _video}}

<div class="container my-3 py-3 ">


    <!--Section: Content-->
    <section class="text-center white-text">

        <!-- Section heading -->
        <h2 class="font-weight-bold ">Have you got any idea ?</h2>
        <hr class=" white w-header my-4">
        <!-- Section description -->
        <p class=" mx-auto mb-5">We would like to listen your idea while improving our system, you might be part of our
            great community with your brilliant advice, you could collaborate
            with
            our professional for more details.</p>

        <div class="row text-center d-flex justify-content-center">
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="view card-img-200 mx-auto mb-4 zoom">
                    <img src="https://www.edureka.co/blog/wp-content/uploads/2018/09/shutterstock_725383498.png" class="img-fluid"
                        alt="smaple image">
                </div>
                <h5 class="font-weight-normal mb-4 indigo-text">Be the first</h5>
                <p class=" px-2 mb-md-0">
                    Be the first person by your idea and get exciting opportunity with us.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="view card-img-200 mx-auto mb-4 zoom">
                    <img src="https://kore.ai/wp-content/uploads/Segmentation.png" class="img-fluid" alt="smaple image">
                </div>
                <h5 class="font-weight-normal mb-4 indigo-text">Share your network</h5>
                <p class=" px-2 mb-md-0">
                    We would like to assistance while your network looking for new opportunity.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="view card-img-200 mx-auto mb-4 zoom">
                    <img src="https://www.sprinkdigital.com/images/graphics/ArtificialIntelligence.png" class="img-fluid"
                        alt="smaple image">
                </div>
                <h5 class="font-weight-normal mb-4 indigo-text">Contact us anytime</h5>
                <p class=" px-2 mb-md-0">
                    You can contact with our professional team any time you want.
                </p>
            </div>
        </div>

        <a href="/contact" type="button" class="btn btn-indigo btn-lg ml-5">Contact Now !</a>


    </section>
    <!--Section: Content-->




</div>

</div>

{{> _footer}}