{{> _navbar}}

{{> _video}}

<div class="container my-5 py-4 text-monospace">



    <!--Section: Content-->
    <section class="text-center px-md-5 mx-md-5 white-text">

        <h3 class="font-weight-bold mb-4">How It's Work ?</h3>
        <hr class="col-3 white mb-3">

        <p class=" white-text h5 mb-3 text-center">We would like to help you doing interview process.
            Get useful information
            about how its's work and start your finding best candidate period.
            If you need more question about starting just contact with our helpful colleague. </p>

        <a class="btn btn-danger btn-md btn-rounded" href="/contact">Get Help<i class="fa fa-phone ml-3"></i></a>

    </section>
    <!--Section: Content-->


</div>

<div class="container mt-3 pt-3 pb-5 px-5 badge-about">

    <!--Section: Content-->
    <section class="text-center white-text">

        <div class="row text-center d-flex justify-content-center my-5">
            <div class="col-lg-3 col-md-6 mb-4">
                <i class="fas fa-plus fa-3x mb-4 indigo-text"></i>
                <h5 class="font-weight-normal mb-3 ">Create Interview Task</h5>
                <p class="text-muted mb-3 badge-dark text-wrap badge p-2">Easy to Create Task</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <i class="fas fa-clock fa-3x mb-4 "></i>
                <h5 class="font-weight-normal mb-3 ">Save Time</h5>
                <p class="text-muted mb-0 badge-dark text-wrap badge p-2">Finish quickly interview period</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <i class="fas fa-share fa-3x mb-4 indigo-text"></i>
                <h5 class="font-weight-normal mb-3 ">Share with Candidates</h5>
                <p class="text-muted mb-0 badge-dark text-wrap badge p-2">Dozen of people for position</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <i class="fas fa-user-circle fa-3x mb-4 "></i>
                <h5 class="font-weight-normal mb-3 ">Find One</h5>
                <p class="text-muted mb-0 badge-dark text-wrap badge p-2">Choose your ideal person</p>
            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>

<div class="container  my-5 pt-5 pb-3 px-5">

    <!-- Section -->
    <section>





        <!-- Modal -->
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/7MUISDJ5ZZ4"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="font-weight-bold text-center dark-grey-text pb-2">Four Easy Steps</h3>
        <hr class="w-header my-4">
        <p class="lead text-center text-muted pt-2 mb-5">Explore how it's works sections in a short
            1-minute video.</p>

        <div class="row align-items-center">

            <div class="col-lg-6 mb-4">
                <div class="view z-depth-1-half rounded">
                    <img class="rounded img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Work/12-col/img%20(6).jpg"
                        alt="Video title">
                    <div class="mask flex-center rgba-black-light">
                        <a id="play" class="btn-floating btn-white btn-lg" data-toggle="modal" data-target="#modal1"><i
                                class="fas fa-play"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mb-4">

                <ol class="step pl-0">
                    <li class="step-element pb-0">
                        <div class="step-number">
                            <span class="number">1</span>
                        </div>
                        <div class="step-excerpt">
                            <h6 class="font-weight-bold dark-grey-text mb-3">Write your personal questions about
                                the candidate</h6>
                            <p class="text-muted">Campanies takes care of the personality, test your candidate with
                                your questions.</p>
                        </div>
                    </li>
                    <li class="step-element pb-0">
                        <div class="step-number">
                            <span class="number">2</span>
                        </div>
                        <div class="step-excerpt">
                            <h6 class="font-weight-bold dark-grey-text mb-3">Request at least 2 min video</h6>
                            <p class="text-muted">Observe how much your candidates ready for next step.</p>
                        </div>
                    </li>
                    <li class="step-element pb-0">
                        <div class="step-number">
                            <span class="number">3</span>
                        </div>
                        <div class="step-excerpt">
                            <h6 class="font-weight-bold dark-grey-text mb-3">Write your technical questions</h6>
                            <p class="text-muted">Technical question part is the crucial for the companies. Be careful
                                while you choosing questions.</p>
                        </div>
                    </li>
                    <li class="step-element pb-0">
                        <div class="step-number">
                            <span class="number">4</span>
                        </div>
                        <div class="step-excerpt">
                            <h6 class="font-weight-bold dark-grey-text mb-3">It's done!</h6>
                            <p class="text-muted">Find out which candidate is suitable for the position and contact
                                with them for the next meeting.</p>
                        </div>
                    </li>

                </ol>

                <a href="/first_step" type="button" class="btn btn-indigo btn-md btn-block ml-5">Create interview now !</a>

            </div>

        </div>

    </section>
    <!-- Section -->

</div>


{{> _footer}}