{{> _navbar }}

<div class="mask rgba-gradient d-flex justify-content-center align-items-cente">
    <!-- Content -->
    <div class="container">
        <!--Grid row-->
        <div class=" row">
            <!--Grid column-->
            <video id="bgvid" playsinline autoplay muted loop>
                <source src="http://thenewcode.com/assets/videos/indre.webm" type="video/webm">

            </video>
            <div class="col-md-6 mt-xl-5 white-text text-center text-md-left ml-5 mt-xl-5 mb-5 wow fadeInLeft"
                data-wow-delay="0.3s">
                <h1 class="h1-responsive font-weight-bold mt-sm-5">Creative solution for interview process</h1>
                <hr class="hr-light">
                <h6 class="mb-4">Interview Corp is the only platform that helps companies find, assess, and hire data
                    science
                    and engineering talent. Finally, you can evaluate candidates at a large scale without wasting your
                    time and money.</h6>
                <a href="/register" class="btn btn-white btn-rounded">Start Free</a>
                <a href="/about" class="btn btn-outline-white btn-rounded">Learn more</a>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-4 mt-xl-5 ml-5  wow fadeInRight" data-wow-delay="0.3s">
                <img src="https://www.outbreakai.com/static/img/frontimg/ai.png" alt="" class="img-fluid mt-4">
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Content -->


</div>



<div class="container my-5">

    <!--Section: Content-->
    <section class="dark-grey-text" style="margin-top: 270px">

        <hr class="my-5">

        <!-- Section heading -->
        <h3 class="text-center font-weight-bold mb-4 pb-2">Create an interview now</h3>
        <hr class="w-header">
        <!-- Section description -->
        <p class="lead text-center w-responsive mx-auto text-muted mt-4 pt-2 mb-5">Video interviewing, code challenges,
            fraud protection, and more are a click away.</p>

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body">

                        <div class="media">
                            <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">
                                <i class="fas fa-diagnoses fa-2x indigo-text"></i>

                            </span>
                            <div class="media-body">
                                <h5 class="dark-grey-text mb-3">I'm a director</h5>
                                <p class="font-weight-light text-muted mb-0">Your web pages looks good on all devices
                                    and screen sizes, including desktop, tablet and mobile.</p>
                                <p class="mt-1 indigo-text"> Register Now ! <i class="far fa-hand-point-right ml-2"></i>
                                </p>
                            </div>
                        </div>

                    </div>

                </a>
                <!-- Card -->

            </div>
            <!--First column-->

            <!--Second column-->
            <div class="col-md-6 mb-4">

                <!-- Card -->
                <a href="#!" class="card hoverable">

                    <!-- Card content -->
                    <div class="card-body">

                        <div class="media">
                            <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">
                                <i class="far fa-user fa-2x purple-text"></i>
                            </span>
                            <div class="media-body">
                                <h5 class="dark-grey-text mb-3">I'm a candidate</h5>
                                <p class="font-weight-light text-muted mb-0">Your web pages looks good on all devices
                                    and screen sizes, including desktop, tablet and mobile.</p>
                                <p class="mt-1 purple-text"> Register Now ! <i class="far fa-hand-point-right ml-2"></i>
                                </p>
                            </div>
                        </div>

                    </div>

                </a>
                <!-- Card -->
                <!-- Card -->

            </div>
            <!--Second column-->

        </div>
        <!--First row-->

    </section>


</div>



<div class="container my-5">

    <section class="text-center py-5 mb-5">

        <hr class="my-5">


        <p class="mb-4 pb-2 lead font-weight-bold">Trusted By Thousand Companies &amp; Recruiter</p>

        <!-- Logo carousel -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="1800">
            <div class="carousel-inner">
                <!-- First slide -->
                <div class="carousel-item active">
                    <!--Grid row-->
                    <div class="row">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/5.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/7.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/6.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/9.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--/Grid row-->
                </div>
                <!-- First slide -->

                <!-- Second slide -->
                <div class="carousel-item">
                    <!--Grid row-->
                    <div class="row">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/11.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/10.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/12.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/13.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--/Grid row-->
                </div>
                <!-- Second slide -->

                <!-- Third slide -->
                <div class="carousel-item">
                    <!--Grid row-->
                    <div class="row">

                        <!--First column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/1a.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/First column-->

                        <!--Second column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/2a.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Second column-->

                        <!--Third column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/3a.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Third column-->

                        <!--Fourth column-->
                        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center">
                            <img src="https://mdbootstrap.com/img/Photos/Template/4a.png" class="img-fluid px-4" alt="Logo">
                        </div>
                        <!--/Fourth column-->

                    </div>
                    <!--/Grid row-->
                </div>
                <!-- Third slide -->
            </div>

        </div>
        <!-- Logo carousel -->

    </section>

</div>

<div class="container mt-3 mb-5">

    <!-- Section -->
    <section class="bg-primary z-depth-1 bg-info">

        <!-- Modal -->
        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                        <iframe id="player" class="embed-responsive-item" src="https://www.youtube.com/embed/7MUISDJ5ZZ4"
                            frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">

            <div class="col-lg-6 order-md-2">
                <div class="view">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Slides/img%20(152).jpg" alt="Video title">
                    <div class="mask flex-center rgba-black-light">
                        <a id="play" class="btn-floating btn-info btn-lg" data-toggle="modal" data-target="#modal1"><i
                                class="fas fa-play text-white"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 mx-auto d-flex align-items-center text-white">
                <div class="px-4 py-4 py-lg-0">
                    <h3 class="font-weight-normal mb-4">Why Are We Here.</h3>
                    <p class="mb-0">Interview Corp. helps companies and recruities save time and energy interviewing
                        and
                        scheduling technical candidates. It’s made our process unbiased and way more efficient in the
                        process! Interview Corp has enabled us to create a better interviewing culture.</p>
                </div>
            </div>

        </div>

    </section>
    <!-- Section -->

</div>



{{> _footer}}


{{!-- Why we are here. --}}

{{!-- <p>You can keep your interview question with as and use later on for the further interview</p> --}}


{{!-- poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg --}}