{{> _navbar1}}

<div class="container my-5">

    <!-- Section: Block Content -->
    <section>

        <div class="card">
            <div class="card-body">

                <h5 class="text-left font-weight-bold mb-4">Recently Added Interview</h5>

                <hr>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-12 mb-3 mx-auto">

                        <div class="media">
                            <img class="d-flex mr-3 check-list" src="https://www.datixinc.com/wp-content/uploads/2015/05/icon-lg-guides-blue1.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-1 font-weight-bold"><a data-toggle="modal" data-target="#modalCart" href="./partials/_modal_interview.hbs">Media,
                                        Digital & Creative</a>
                                    {{> _modal_interview}}

                                    <a><span class="badge badge-danger float-right">Delete</span></a></h6>
                                <p class="text-muted">Creative directors work either for an agency or in-house for the
                                    marketing department of a company. <br> They typically establish the visual
                                    identity of
                                    an organisation and are responsible for its creative output.
                                    <a><span class="badge badge-warning float-right ml-2 px-2">Edit</span></a>
                                    <a><span class="badge badge-info float-right px-2">Send</span></a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <img class="d-flex mr-3 check-list" src="https://www.datixinc.com/wp-content/uploads/2015/05/icon-lg-guides-blue1.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-1 font-weight-bold"><a data-toggle="modal" data-target="#modalCart" href="./partials/_modal_interview.hbs">Full
                                        Stack Developer</a>
                                    <a><span class="badge badge-danger float-right">Delete</span></a></h6>
                                <p class="text-muted">Full Stack developer is responsible for front and back-end web
                                    development, understand several how to
                                    work <br> with variety languages and databases including PHP, HTML, CSS, JavaScript
                                    and
                                    everything in between.
                                    <a><span class="badge badge-warning float-right ml-2 px-2">Edit</span></a>
                                    <a><span class="badge badge-info float-right px-2">Send</span></a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <img class="d-flex mr-3 check-list" src="https://www.datixinc.com/wp-content/uploads/2015/05/icon-lg-guides-blue1.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-1 font-weight-bold"><a data-toggle="modal" data-target="#modalCart" href="./partials/_modal_interview.hbs">Banking</a>
                                    <a><span class="badge badge-danger float-right">Delete</span></a></h6>
                                <p class="text-muted">Banker interact with clients on a
                                    daily basis by assisting with services such as setting up checking and <br> savings
                                    accounts, authorizing loans, and moving money.
                                    <a><span class="badge badge-warning float-right ml-2 px-2">Edit</span></a>
                                    <a><span class="badge badge-info float-right px-2">Send</span></a>
                                </p>
                            </div>
                        </div>
                        <hr>
                        <div class="media">
                            <img class="d-flex mr-3 check-list" src="https://www.datixinc.com/wp-content/uploads/2015/05/icon-lg-guides-blue1.png"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h6 class="mt-1 font-weight-bold"><a data-toggle="modal" data-target="#modalCart" href="./partials/_modal_interview.hbs">Apprenticeships</a>
                                    <a><span class="badge badge-danger float-right">Delete</span></a></h6>
                                <p class="text-muted">Apprenticeship schemes are training programmes that combines
                                    learning, training, and real work experience. <br> Apprentices work towards the
                                    full
                                    apprenticeship by receiving a wage or an allowance from the government.
                                    <a><span class="badge badge-warning float-right ml-2 px-2">Edit</span></a>
                                    <a><span class="badge badge-info float-right px-2">Send</span></a>
                                </p>
                            </div>
                        </div>

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <hr>

                <p class="text-center mt-4 mb-1"><a href="#!">View All Products</a></p>

            </div>
        </div>

    </section>
    <!-- Section: Block Content -->

</div>