video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("//demosthenes.info/assets/images/polina.jpg") no-repeat;
  background-size: cover;
  transition: 1s opacity;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.stopfade {
  opacity: 0.5;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 500px;
  }

  h1,
  h6,
  a {
    color: black;
  }

  .badge-about,
  .image-fluid,
  img {
    display: none;
  }

  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 400px;
  }
  h1,
  h6,
  a {
    color: black;
  }
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}

.footer_login {
  position: relative;
  bottom: 0;
}

.fa-play:before {
  margin-left: 0.3rem;
}

/* Steps */
.step {
  list-style: none;
  margin: 0;
}

.step-element {
  display: flex;
  padding: 1rem 0;
}

.step-number {
  position: relative;
  width: 7rem;
  flex-shrink: 0;
  text-align: center;
}

.step-number .number {
  color: #bfc5ca;
  background-color: #eaeff4;
  font-size: 1.5rem;
}

.step-number .number {
  width: 48px;
  height: 48px;
  line-height: 48px;
}

.number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  border-radius: 10rem;
}

.step-number::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 48px;
  bottom: -2rem;
  margin-left: -1px;
  border-left: 2px dashed #eaeff4;
}

.step .step-element:last-child .step-number::before {
  bottom: 1rem;
}

.card-img-200 {
  width: 60%;
  height: 60%;
}
