{{> _navbar1}}

<div class="container">


    <!--Section: Content-->
    <section class="dark-grey-text mt-3">

        <div class="row pr-lg-5">
            <div class="col-md-7 col-sm-6 mb-4">

                <div class="mt-3">
                    <img src="https://www.enterrasolutions.com/wp-content/uploads/2015/11/Cog-Computing-and-the-future-clear.png"
                        class="img-fluid">
                </div>

            </div>

            <div class="col-md-4 mx-auto mt-5">

                <!-- Default form login -->
                <form class="text-center" action="/register">

                    <p class="h4 mb-4">Sign In</p>

                    <!-- Email -->
                    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <!-- Password -->
                    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                    <div class="d-flex justify-content-around">
                        <div>
                            <!-- Remember me -->
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                                <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a href="" class="indigo-text">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Sign in button -->
                    <button class="btn btn-dark btn-block my-4" type="submit">Sign in</button>

                    <!-- Register -->
                    <p>Not a member?
                        <a href="/register" class="indigo-text">Register</a>
                    </p>

                    <!-- Social login -->
                    <p>or sign in with :</p>

                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-google"></i></a>
                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-github"></i></a>

                </form>
                <!-- Default form login -->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>

{{> _footer1}}