{{> _navbar1}}

<div class="container">


    <!--Section: Content-->
    <section class="dark-grey-text">

        <div class="row ">

            <div class="col-md-6 col-sm-6 col-lg-6 my-5">

                <!-- Default form register -->
                <form class="text-center" action="#!">

                    <p class="h3 mb-4">Register Now !</p>

                    <hr class="my-4">

                    <p class="subtitle font-italic">No credit card required</p>

                    <div class="form-row mb-4">
                        <div class="col">
                            <!-- First name -->
                            <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                        </div>
                    </div>

                    <!-- E-mail -->
                    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <!-- Password -->
                    <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password"
                        aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>


                    <p class="ml-5 custom-control-inline font-weight-bold">Register as a :</p>
                    <div class="custom-control custom-radio custom-control-inline">

                        <input type="radio" class="custom-control-input" id="defaultInline1" name="inlineDefaultRadiosExample">
                        <label class="custom-control-label" for="defaultInline1">Company</label>
                    </div>

                    <!-- Default inline 2-->
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" class="custom-control-input" id="defaultInline2" name="inlineDefaultRadiosExample">
                        <label class="custom-control-label" for="defaultInline2">Candidate</label>
                    </div>



                    <!-- Sign up button -->
                    <a href="" class="btn btn-dark my-4 btn-block" type="submit">Sign up</a>

                    <!-- Social register -->
                    <p>or sign up with :</p>

                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-google"></i></a>
                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="mx-2 indigo-text" role="button"><i class="fab fa-github"></i></a>

                    <hr>

                    <!-- Terms of service -->
                    <p>By clicking
                        <em>Sign up</em> you agree to our
                        <a href="/terms_of_service" class="indigo-text" target="_blank">terms of service</a>

                </form>
                <!-- Default form register -->

            </div>
            <!--Grid column-->

            <div class="col-md-6 col-sm-6 col-lg-6">

                <div class="mt-5 ml-5">
                    <img src="https://aimlcommunity.com/wp-content/uploads/2019/09/aimlhome1-7sepAsset-1.png" class="img-fluid">
                </div>

            </div>

        </div>
        <!--Grid row-->


    </section>
    <!--Section: Content-->


</div>

{{> _footer1}}